---
import { Image } from 'astro:assets';
import Add_Icon from "../assets/add-square-svgrepo-com.svg";
import Menu_Icon from "../assets/menu-dots-svgrepo-com.svg";
import {allowDrop, drag, drop} from "../../Drag&Drop.js";

interface Todo {
  id: number;
  label: string;
  title: string;
  description: string;
}

const { todos = [] }: { todos: Todo[] } = { todos: [], ...Astro.props };
---

<style>
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

*::-webkit-scrollbar{
  display: none;
}
  .View_Port{
    width: 100%;
    height: 100vh;
    overflow:scroll;

    background-image: url(https://images.unsplash.com/photo-1595520519880-a86c48ea536c?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position:center;
    background-size: cover;
    display: flex
;
    justify-content: space-evenly;


  }
  .container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    flex-direction: column;

  }

  .title {
  padding: 2px;
    font-size: 1.5em;
    font-weight: 700;
    display: flex
;
    flex-direction: row;
    gap: 5rem;
    background-color: white;
    border-radius: 8px;
    justify-content: flex-end;
    margin-top: 2rem;
    align-items: center;

  }

  .todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9f9f9c2;
    padding: 16px;
    border-radius: 8px;
    width: 15rem;
    height: 80vh;
    overflow:scroll;
  }

  .card {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    margin: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-out forwards;
    animation-delay: calc(var(--card-index) * 0.1s);
    transition:
      transform 0.3s ease
      box-shadow 0.3s ease;
      cursor: pointer;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1em;
    margin-bottom: 4px;
    font-weight: 700;
  }

  .card-description {
    color: #555;
    font-weight: 400;
    font-size: 0.9em;
  }
  .Icons img {
        width: 30px;
        height: 30px;
        cursor:pointer;
  }

  .label {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    justify-content: space-between;

  }

  .label div {
    font-size: 0.8em;
  }

  .label-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 8px;
  }

  .label-circle.design-system {
    background-color: green;
  }

  .label-circle.typography {
    background-color: rgb(247, 158, 173);
  }

  @media (max-width: 600px) {
    .card {
      padding: 6px;
    }

    .card-title {
      font-size: 0.9em;
    }
  }

  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>

<div class="View_Port">

  <div class="header">
    <div class="title"> TODO
    <div class="Icons">
      <a href="#" id="Add_Icon">
          <img src={Add_Icon.src} alt="Add" />
      </a>
    </div>
  </div>
  <div class="todo-list">
    {
      todos.map((todo, index) => (
        <div class="card" style={{ "--card-index": index }} draggable="true" ondragstart={"drag"}>
          <div class="label">
            <div
              class={`label-circle ${todo.label.toLowerCase().replace(" ", "-")}`}
            />
            <div>{todo.label}


            </div>
            <div class="Icons">

                <a href="#" id="Menu_Icon">
                  <img src={Menu_Icon.src} alt="Menu" />
                </a>

          </div>
          </div>
          <div class="card-title">{todo.title}</div>
          <div class="card-description">{todo.description}</div>
          
          
        </div>))

    }
</div>
</div>

<div class="header">
<div class="title"> In Progress
  <div class="Icons">
    <a href="#" id="Add_Icon">
        <img src={Add_Icon.src} alt="Add" />
    </a>
  </div>
</div>
<div class="todo-list"></div>
</div>
<div class="header">
  <div class="title"> Done
    <div class="Icons">
      <a href="#" id="Add_Icon">
          <img src={Add_Icon.src} alt="Add" />
      </a>
    </div>
  </div>
  <div class="todo-list"></div>
  </div>


</div>
